* {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

form {
    box-sizing: border-box;
    border: 2px solid black;
    margin: auto;
    margin-top: 250px;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    /* background-color: beige; */
}
#admissao {
    background-color: blue;
}